<footer class="footer">
  <small>
    <li class="nav-item"><%= link_to "X", '#', class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "GitHub", '#', class: "nav-link" %></li>
  </small>
  <nav>
    <ul>
      <li class="nav-item"><%= link_to "このサイトについて", '#', class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "お問い合わせ", '#', class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "利用規約", '#', class: "nav-link" %></li>
    </ul>
  </nav>
</footer>