<header class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <%= link_to "4文字日記", root_path, class: "btn btn-ghost text-xl" %>
  </div>

  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "このサイトについて", "#" %></li>
      <li><%= link_to "ログイン", "#" %></li>
      <li><%= link_to "みんなの日記を見る", "#" %></li>
    </ul>
  </div>
</header>