<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "4文字日記", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><%= link_to "Home",   '#' %></li>
        <li class="nav-item"><%= link_to "このサイトについて",   '#' %></li>
        <li class="nav-item"><%= link_to "ログイン", '#' %></li>
        <li class="nav-item"><%= link_to "みんなの日記を見る", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
